h2(style='color:blue;') Buscar Producto
form.d-flex(action='/productos/:busqueda', method='get')
    div.flex-fill(class='form-group')
        input#nameb.form-control(type='text', name='nameb', placeholder='Nombre')
    button#Buscar.btn.btn-success.mb-3 Buscar
h2(style='color:blue;') Listado de productos
h2 Inicie sesion para comprar
    if products && products.length > 0
        div(class='table-responsive')
            table.table.table-dark.my-2
                tr(style='color: yellow;')
                    th Nombre
                    th Descripcion
                    th Codigo
                    th Precio
                    th Stock
                    th Foto
                each val in products
                    tr
                        td= val.name
                        td= val.description
                        td= val.code
                        td= val.price
                        td= val.stock
                        td= val.photo
    else
        h3(class='alert alert-danger') No hay productos