h2(style='color:crimson;') Listado de productos
    if result && result.productos.length > 0
        div(class='table-responsive')
            table.table.table-dark.my-2
                tr(style='color: yellow;')
                    th Nombre
                    th Descripcion
                    th Codigo
                    th Precio
                    th Stock
                    th Foto
                each val in result.productos
                    tr
                        td= val.name
                        td= val.description
                        td= val.code
                        td= val.price
                        td= val.stock
                        td= val.photo
                        td 
                            form(onsubmit=`return eliminarProducto('${val.id}')`)
                                button.btn.btn-danger.btn-sm(type='submit') Eliminar Producto
        .d-flex.justify-content-center
            form(onsubmit=`return eliminarCarrito()`)
                button.btn.btn-danger.btn-sm(type='submit') Eliminar Carrito 
            form(action='/compras', method='post')
                button.btn.btn-success.btn-sm.mx-3(type='submit') Comprar
                            
    else
        h3(class='alert alert-danger') No productos
        a.nav-link(href='/productos') Añadir Productos